@CHARSET "UTF-8";

body{   
    margin:0 auto; }

header

.header{	
}

.TableOddRow{
	background: #FFF;
}

.TableEvenRow{
	background: #CCC;
}

.header:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #d8dcdf;
}

.wrapper{
}

.content-login-admin{
    display: table;
    margin: 0 auto;
    margin-top:10%
}

.datepicker{
}

.signin-admin{
	text-align: center;
}

.content-login-admin .signin-admin{
}

.footer-wrapper {
	margin-top:50px;
    background: #f2f2f2;
    padding: 30px 0;
}

.footer-wrapper li{
	display: inline-block;;
	position:relative;
	display:inline-block;
	margin-left:9px;
	padding-left:9px;
	font-size:16px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	horizontal-align:middle;
	vertical-align:middle;
	border-left:1px solid #7e8185}
	
.footer-wrapper li:first-child{
	color:black;
	margin:0;
	padding:0;
	border:none}

.user-menu{
	position:relative;
	z-index:6;
	margin-right:15%;
	font-size:0;
	line-height:0;
	letter-spacing:-1px;
	text-align:right;
	}
.user-menu:after{
	content:'';
	position:relative;
	display:inline-block;
	height:25px;
	vertical-align:middle}
	
.user-menu a{
	color:black
}

.user-menu li{
	position:relative;
	display:inline-block;
	margin-left:9px;
	padding-left:9px;
	font-size:13px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	vertical-align:middle;
	border-left:1px solid #7e8185}
.user-menu li:first-child{
	color:black;
	margin:0;
	padding:0;
	font-weight:bold;
	border:none}

.header-content{
	
	position:relative;
	margin-left:15%;
	margin-right:15%;
	margin-top:25px;
}
.header-content .logo{
	display:inline;
	float:left;
}



.header-content .header-cart{
	display:inline-block;
	vertical-align:middle;
}

.header-cart{
	float:right;
	margin-left:25px;
}

.header-cart .header-cart-content{
	display:inline;
	position:relative;
	line-height:4em;
	margin: 0 auto;
	vertical-align:middle;
}

.header-cart .header-cart-content li{
	position:relative;
	display:inline-block;
	font-size:16px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	vertical-align:middle;
	border:none;
}

.header-line{
	margin-top:25px;
}

.header-content:after{
	content:'';
	position:relative;
	display:inline-block;
	height:60px;
	vertical-align:bottom}


.header-line{
	clear:both;
	background-color: #020202;
    z-index: 100;
    position: relative;
    background-position: right top;
    background-repeat: no-repeat;
}

.header-content .header-search{
	display:inline-block;
	vertical-align:middle;
	
}

.header-search{
}

.header-search .header-search-content{
	display:inline-block;
	position:relative;
	line-height:4em;
	margin: 0 auto;
	vertical-align:middle;
	
}

.header-search .header-search-content li{
	position:relative;
	display:inline-block;
	margin-left:9px;
	padding-left:9px;
	font-size:16px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	vertical-align:middle;
	border:none;
}

.header-line .header-search-content {
	margin-left:15%;
}

.header-search .header-search-content li{
	position:relative;
	display:inline-block;
	font-size:16px;
	
	color:black;
	line-height:1;
	letter-spacing:normal;
	vertical-align:middle;
	border:none;
}

.header-search .header-search-content ul{
	display:inline;
	padding-left:0;
}



.promo-image-container{
	margin-top:25px;
	display: block;
	position:relative;
	overflow: hidden;
	margin-left:15%;
	margin-right:15%;
	width:70%;
	height:70%;
}

.promo-image-container promo-image{
	display: block;
	max-width:100% ;
	max-height:100% ;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pages-wrapper {
   position:relative;
   margin-top:25px;
   max-width: 70%;
   margin-left:15%;
   display: table;
   border-collapse: collapse;
}
 
.pages-wrapper .signin-signup {
   display: table-row;
}

.pages-wrapper .signin {
   padding-top: 0px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: none;
}


 
.pages-wrapper .signup {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: none;
}



.pages-wrapper .product {
	display:inline-block;	
}

.pages-wrapper .product li {
	display:inline-block;	
}

.pages ul.product li:nth-child(5n+6) {
	display:inline-block;	
	clear:left;
}

.pages-wrapper .prodtable {
	
	margin-top:25px;
}

.addToCartSelectedAddress{
	
}

.addToCartButton{
	
}

.adminHeader{
    background: #205081;
    color: #fff;
    border-bottom-color: #2e3d54;
}

.adminLinks{
	
	margin: 0;
    padding: 0;
}

.adminMenu{

	
	border-top: 1px solid #ccc;
    margin-top: 5px;
    padding-top: 5px;
}

.adminMenuLinks{
	float:left;
	width: 240px;
	height: 1600px;
	border-right: 1px solid #ccc;
	
}

.adminMenuLinks .adminItems li{
   list-style: none;
   padding: 7px 10px;
   border-color: #ccc;
}

.adminContent{
	float:left;
	padding: 7px 10px;
}

#create {
	display:none;
}

.user-search li{
	list-style: none;
	position:relative;
	display:inline-block;
}