@CHARSET "UTF-8";

body{   
    margin:0 auto; }

header

.header{	
}

.header:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    background-color: #d8dcdf;
}

.wrapper{
}

.footer-wrapper {
	margin-top:50px;
    background: #f2f2f2;
    padding: 30px 0;
}

.footer-wrapper li{
	display: inline-block;;
	position:relative;
	display:inline-block;
	margin-left:9px;
	padding-left:9px;
	font-size:16px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	horizontal-align:middle;
	vertical-align:middle;
	border-left:1px solid #7e8185}
	
.footer-wrapper li:first-child{
	color:black;
	margin:0;
	padding:0;
	border:none}

.user-menu{
	position:relative;
	z-index:6;
	margin-right:15%;
	font-size:0;
	line-height:0;
	letter-spacing:-1px;
	text-align:right;
	}
.user-menu:after{
	content:'';
	position:relative;
	display:inline-block;
	height:25px;
	vertical-align:middle}
	
.user-menu a{
	color:black
}

.user-menu li{
	position:relative;
	display:inline-block;
	margin-left:9px;
	padding-left:9px;
	font-size:13px;
	color:black;
	line-height:1;
	letter-spacing:normal;
	vertical-align:middle;
	border-left:1px solid #7e8185}
.user-menu li:first-child{
	color:black;
	margin:0;
	padding:0;
	font-weight:bold;
	border:none}

.header-content{
	position:relative;
	margin-left:15%;
	margin-right:15%;
	margin-top:25px;
}
.header-content .logo{

}

.header-content-cart{
	position:relative;
	line-height:4em;
	float:right;
	vertical-align:middle;
}

.header-content-cart .cart{
	position:relative;
	line-height:4em;
	float:right;
	vertical-align:middle;
}

.promo-image-container{
	margin-top:25px;
	display: block;
	position:relative;
	overflow: hidden;
	margin-left:15%;
	margin-right:15%;
	width:70%;
	height:70%;
}

.promo-image-container promo-image{
	display: block;
	max-width:100% ;
	max-height:100% ;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pages-wrapper {
   margin-top:25px;
   max-width: 70%;
   margin-left:15%;
   margin-right:15%
   display: table;
   border-collapse: collapse;
}
 
.pages-wrapper .signin-signup {
   display: table-row;
}

.pages-wrapper .signin {
   padding-top: 0px;
   padding-right: 5px;
   padding-bottom: 0px;
   padding-left: 5px;
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: none;
}
 
.pages-wrapper .signup {
   display: table-cell;
   text-align: left;
   vertical-align: top;
   border: none;
}



.pages-wrapper .product {
	display:inline-block;	
}

.pages-wrapper .product li {
	display:inline-block;	
}

.pages ul.product li:nth-child(5n+6) {
	display:inline-block;	
	clear:left;
  	float:left;
}

.pages-wrapper .prodtable {
	margin-top:25px;
	width:70%;
}

.addToCartSelectedAddress{
	
}

.addToCartButton{
	
}